
/* ESTILOS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.form-control::-webkit-input-placeholder {
  color: white;
}
.App-button{
  background-color: transparent;
  color: white;
  font: small-caps normal 400 16px/22px Verdana;
  border: 2px solid rgba(158,119,80,0.72);
  border-radius: 80px;
  font-weight: bold;
  font-size: 120%;
}

.App-titulo2{
  background-color: transparent;
  color: white;
  font: small-caps normal 400 16px/22px Verdana;
  border: transparent;
  font-weight: bold;
  font-size: 120%;
}

.App-titulo{
  color: white;
  margin-top: 10%;
  font: small-caps normal 400 16px/22px Verdana;
  font-weight: bold;
  font-size: 200%;
}
.App-subtitulo{
  color: white;
  margin-top: 4%;
  font: small-caps normal 400 16px/22px Verdana;
  font-weight: bold;
  font-size: 100%;
}

.App-subtitulo2{
  color: white;
  margin-top: 4%;
  font: small-caps normal 400 16px/22px Verdana;
  font-weight: bold;
  font-size: 80%;
}
.App-link {
  color: #09d3ac;
}

.App-header{
  background-color: #171721;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.nocenter{
  margin: 0%;
}

.Input-Style,.Input-Style:focus , .Input-Style:hover{
  color: white;
  border-color: #787511;
  background-color: #171721;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, rgb(117, 114, 16) 0%, #F3F0A9 100%) 1;
}

.Btn-aceptar{
  background-image: url('./imagenes/aceptarlogin.png');
  height: 40px;
  width: 210px;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #787511;
  margin-top: 20px;
}

.Cuadro-logo{
  background-image: url('./imagenes/cuadros logo.png');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: #787511;
  margin-top: 10px;
}

.container {
  position: absolute;
  bottom: 0em;
}

.page {
  margin: 0px auto;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  background-color: #171721;
  font-size: 20px;
  color: #FFFFFF;
}

.bot-position{
  position: relative;
  top: 334px;
}

.bot-position2{
  position: relative;
  top: 150px;
  right: 200px;
  left: 0px;
  bottom: 40px;
}

.container-contact100 {
  width: 100%;  
  min-height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #171721;
  
}

.wrap-contact100 {
  width: 500px;
  background: #171721;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px 55px 30px 55px;
}

.fondo{
    background-repeat: no-repeat;
  background-image: url("../src/imagenes/cuadros.png");
}



/*  ESTILOS DE SIDEBAR*/

/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #26262C;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}




#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #26262C;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #171721;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #171721;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #171721;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #171721;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #171721;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #171721;
}

a.article, a.article:hover {
    background: #171721 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

.style-0::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.style-0::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style-0::-webkit-scrollbar-thumb {
  background-color: #000000;
  outline: 1px solid;
  height: 10px;
}

.centert {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}



/* ESTILOS SCROLL*/

.scroll-permanent{
  overflow-y: scroll;
}
.style-0::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.style-0::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.style-0::-webkit-scrollbar-thumb {
  background-color: #000000;
  outline: 1px solid;
  height: 10px;
  border-radius: 4px;
}
.content{
  height:500px;
  overflow:auto;
  
}